html {
   background-color: black;
   font-family: arial;
   color: white;
}

#video {
   min-width: 100%;
   min-height: 100%;
   position: fixed;
   right: 0;
   bottom: 0;
   z-index: -1;
}

#dimmer {
   position: fixed;
   min-width: 100%;
   min-height: 100%;
   right: 0;
   bottom: 0;
   background-color: #000;
   opacity: 85%;
   z-index: 0;
}

#tips {
   margin-top: 5vh;
   color: white;
   z-index: 1;
}
#tips p, #tips li{
   color: white;
}

#secondDiv {
   display: none;
}

#start, #start:visited {
   height: 15vh;
   width: 15vh;
   margin-top: 9vh;
   border-radius: 50%;
   background-color: #FFA800;
   font-size: 48px;
   border: none;
   color: white;
   font-weight: bold;
   outline: none;
   display: block;
   cursor: pointer;
   animation: breathe 7s infinite normal;
}

#breathingDiv {
   height: 15vh;
   width: 15vh;
   margin-top: 10vh;
   border-radius: 50%;
   background-color: #FFA800;
   border: none;
   display: block;
   animation: breathe 7s infinite normal;
}

button {
   outline:none;
}

button::-moz-focus-inner {
   border: 0;
}

.centerdiv {
   width: 50vw;
   height: 74vh;
   margin: 13vh 0vh 0vh 25vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#breather {
   height: 15vh;
   width: 15vh;
   font-size: 1.75vh;
   margin-top: 25vh;
   border-radius: 50%;
   border: none;
   display: block;
   animation: breather 10s infinite normal;
   text-align: center;
   vertical-align: center;
   line-height: 10vh;
}  

#cough {
   animation: textAnimate 20s infinite normal;
   text-align: center;
   position: absolute;
   top: 20%;
}

@keyframes textAnimate {
   0% {
      opacity: 0%;
   }
   5% {
      opacity: 100%;
   }
   95% {
      opacity: 100%;
   }
   100% {
      opacity: 0%;
   }
}

@keyframes op2 {
   0% {
      opacity: 0%;
   }
   
   39% {
      opacity: 0%;
   }

   40% {
      opacity: 100%;
   }
   
   100% {
      opacity: 100%;
   }
}

@keyframes op1 {
   0% {
      opacity: 100%;
   }
   
   39% {
      opacity: 100%;
   }

   40% {
      opacity: 0%;
   }
   
   100% {
      opacity: 0%;
   }
}

@keyframes breather {
   0% {
      -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
      transform: scale(0.75);
      background-color: #FF0000;
   }

   40% {
      -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
      transform: scale(1.25);
      background-color: #FFA800;
   }

   100% {
      -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
      transform: scale(0.75);
      background-color: #FF0000;
   } 
}

@keyframes breathe {
   0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
   }

   50% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
   }

   100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
   } 
}
